html{
  background: linear-gradient(135deg, #FC8B60 0%, #FFCC6F 100%);
}

body{
  width: 45rem;
  min-height: 20rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display:flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow:hidden;
}
header{
  border-radius: 1rem 1rem;
  width: 100%;
  flex-basis: 12rem;
  background: rgba(255, 73, 36, 0.83);
  text-align:center;
  position: relative;
  
  .logo{
    position: relative;
    top: 6rem;
    background: white;
    border-radius: 50%;
  }
  
}
.order{
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 0 0 1rem 1rem;
  padding-top: 4rem;
  
  button{
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
  }
  
  .order-summary{
    padding: 1rem;
    margin: 1.5rem 0;
    background: #F4F4F6;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-weight: 2.5rem;
  }
  
  #btn-checkout{
    width: 100%;
    background: #FF6144;
    color: white;
  }
}